/* body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Fondos/Fondo-footer-clean-web.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white; Asegúrate de que el texto sea visible en el fondo 
} */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; /* Asegúrate de que el texto sea visible en el fondo */
    position: relative;
    z-index: 0; /* Asegúrate de que el contenido esté en el frente */
    overflow:hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/Fondos/Fondo-footer-clean-web.jpg);
    background-size: cover;
    background-attachment: fixed;
    filter: blur(3px); /* Ajusta el nivel de desenfoque según tus necesidades */
    z-index: -1; /* Asegúrate de que la imagen de fondo esté detrás del contenido */
}

body > * {
    position: relative;
    z-index: 1; /* Asegúrate de que el contenido esté en el frente */
}
.formularios {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 10px;
    width: 400px;
}

.formularios-item {
    flex: 1 1 300px;
    margin: 10px;
}

.nombre, .correo1, .telefono, .pais, .nombreempresa, .apellido, .profesión {
    margin: 10px;
    width: 175px;
    height: 36px;
    border:0px;
    border-radius: 10px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1));
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.21);
    border-color: transparent;
    border-radius:20px;
    padding-left:20px;
}

.nombre {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 1));
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.21);
    border-color: transparent;
    border-radius:20px;
    /* padding-right:10px; */
    
}

.nombre:focus {
    border-color: transparent;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    outline:2px solid white;
}
.correo1:focus, .telefono:focus, .pais:focus, .nombreempresa:focus, .apellido:focus, .profesion:focus {
    border-color: transparent;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
    outline: 2px solid white;
}

.permiso {
    grid-column: span 2;
    border-radius: 3px;
    margin-bottom: 5%;
    color: white;
    border: none;
    outline: none; /* Elimina el contorno al seleccionar */
    /* -webkit-appearance: none; Quita estilos predeterminados en navegadores WebKit */
    /* -moz-appearance: none; Quita estilos predeterminados en navegadores Gecko */
    /* appearance: none; Quita estilos predeterminados en navegadores modernos */
    width: 10px;/* Puedes ajustar el tamaño según tu necesidad */
    height: 10px;
    /* background-color: white; Establece un fondo blanco */
}

#textopermiso {
    font-family: 'Space Grotesk', sans-serif;
    font-size: x-small;
    color: white;
}

.logo {
    width: 100px;
    height: 50px;
    margin-left: 40%;
}

.imagenlogo {
    /* width: 300px; */
    height: 100px;
    margin-bottom:30px;
}

.contenido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin-right: 5%; */
    margin-left: 10%; 
    margin-top: 12%;
}

.botonenvio {
    border-radius: 21px;
    width: 75%;
    height: 50px;
    background: transparent;
    border-color: white;
    box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.1);
    color:white;
}

.formulario {
    width: 600px;
}

.elementabajo {
    display: flex;
    width: 100%; /* Asegúrate de que ocupe el ancho completo */
    /* margin-top: 5%; */
}

.titulo {
    width:210px;
    font-family: 'Sora', sans-serif;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgb(255, 17, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent; /* Asegúrate de que el texto sea transparente */
}
 /* background:linear-gradient(to right, rgba(255,255,255,1),rgba(255,0,0,1));    
    background: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)); */
.parrafo, .textoabajo,.correo {
    font-family: 'Space Grotesk', sans-serif;
    font-size: smaller;
    color: white;
}
.nombre::placeholder{
    font-family:'Space Grotesk',sans-serif;
    color:purple;
    /* margin-right:5px; */
}
.correo1::placeholder, .telefono::placeholder, .pais::placeholder, .nombreempresa::placeholder, .apellido::placeholder, .profesión::placeholder {
    font-family: 'Space Grotesk', sans-serif;
    color: purple;
}
.rsociales {
    margin-left: 75%;
}
.epermiso{
    margin-top:5%;
}

#menu-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    height: 1.6rem;
    /* background-color: rgba(182, 35, 241, 0.6); */
    background-color: rgba(246, 249, 249, 0.6);
    box-shadow: inset 3px 2px 0px 0 rgba(20, 20, 20, 0.4);
    position: fixed;
    bottom: 2rem;
    left: 42%;
    border-radius: 3rem;
    padding:0 2rem;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    /* height: 1.6rem; */
    /* background-color: rgba(182, 35, 241, 0.6); */
    /* background-color: rgba(246, 249, 249, 0.6); */
    /* box-shadow: inset 3px 2px 0px 0 rgba(20, 20, 20, 0.4); */
    /* position: fixed; */
    /* bottom: 2rem; */
    /* left: 42%; */
/*     
    border-radius: 3rem;
    z-index:1000;
    padding:0 2rem; */ 
}

#logo-redondo {
    margin-bottom:150px;
    height: 6rem; /* cambiar medidas  */
    position:relative;
    border-radius: 2rem;
    z-index:0;
    
    
}

a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

a:hover {
    color: deeppink;
}

#blog {
    /* margin-right: 1.2rem; */
    background: linear-gradient(to top right, rgba(150, 35, 241, 0.6), rgba(255, 255, 255, 1));
    /* width:100%; */
    width:160px;
    height:20px;
    border-radius:30px;
    position: absolute;
    right:3rem;
    /* padding-right:20px;  */
    padding-top:5px;
    padding-bottom:5px;
    padding-left:90px;
    padding-right:20px;
    /* box-shadow:inset 0 0 0 5px linear-gradient(top,rgba(255,255,255,1),rgba(255,255,255,0)); */
    /* box-shadow:inset 0 0 0 5px linear-gradient(to top right, rgba(255,255,255,1),rgba(255,255,255,0.0)); */
    font-family:'Sora',sans-serif;
    z-index:-1;
    margin-bottom:150px;
}
#contacto{
    background: linear-gradient(to top right, rgba(255,255,255,1), rgba(150,35,241,0.6));
    /* width:100%; */
    width:150px;
    height:20px;
    border-radius:30px;
    position:absolute;
        /* right:3rem; */

    left:1rem;  
    padding-top:5px;
    padding-bottom:5px;
    padding-left:140px;
    padding-right:20px;
    font-family:'Sora',sans-serif;
    z-index:-1;
    margin-bottom:150px;
    
}
#menu-lateral{
    /* display: flex;
    position:fixed;
    top:10%;
    right:10%; */
    position: fixed;
    top: 2rem;
    right: 2%;
    border: solid 0.5px var(--white-letter);
    border-radius: 15%;
}
#icono-menu-lateral {
    width: 2rem;
    padding: 0.3rem;
}
#desplegable{
    height: 100vh; /* Toma el 100% de la altura de la ventana*/
    width: 30%; /*Toma el 50% del ancho de la ventana*/
    position: fixed; /*Fija la posición del div*/
    top: 0; /*Coloca el div en la parte superior de la ventana*/
    right: 0; /*Coloca el div en el lado derecho de la ventana*/
    background-color: rgba(246, 249, 249, 0.6); /* Color semi-transparente (aqua) */
    border-radius: 3rem 0 0 3rem;
    box-shadow: inset 10px 0px 10px 0 rgba(20, 20, 20, 0.4);
    font-family:'Sora',sans-serif;
    color:black;
}
.glass-effect {
    background: #fafafa10;
    backdrop-filter: blur(0.3rem);
}
#exit {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    border: solid 1px black;
    border-radius: 15%;
}
.contenido-menu-principal {
    margin: 0 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 5%;
}
.menu-principal {
    width: 90%;
    margin-top: 3rem;
    border-bottom: solid purple 1px;
}

.menu-principal .menu-lateral-etiqueta {
    font-size: 0.8rem;
    font-weight: 900;
}

.menu-principal .menu-lateral-parrafo {
    font-size: 0.8rem;
    margin: 0.4rem 0;
}

.menu-principal .titulo-menu-lateral{
    font-size: 2rem;
    margin-top: 0.7rem;
    cursor: pointer;
}

#sobre:hover {
    color: var(--primary-color);
    transition: 0.5s;
}

#soluciones:hover {
    color: var(--second-color);
    transition: 0.5s;
}

#tecnologias:hover {
    color: var(--third-color);
    transition: 0.5s;
}

#experiencias:hover {
    color: var(--four-color);
    transition: 0.5s;
}
.texto{
    margin-right:10%;
}
#titulo{
    background:linear-gradient(to right (rgba(255,255,255,1) rgba(red)))
}
.fondologo{
    display:flex;
    align-items:center;
}   
.img1{
    margin-right:10px;
}
.img2{
    margin-right:10px;
}
.img3{
    margin-right:10px;
}
.img4{
    margin-right:10px;
}
#sobre:hover{
    color:purple;
    transition:0.5s;
}
#soluciones:hover{
    color:purple;
    transition:0.5s;
}
#tecnologias:hover{
    color:purple;
    transition:0.5s;
}
#experiencias:hover{
    color:purple;
    transition:0.5s;
}
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
