@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #7B1AD8;
    --second-color: rgb(229 0 133);
    --third-color: #C21AD6;
    --four-color: #727DEF;
    --royal-blue: #373E65;
    --dark-blue: #24284D;
    --medium-purple: #725BC1;
    --dark-orchid: #925BC0;
    --lavander: #E2CCFF;
    --white-letter: #fff;
    --grey-letter: #7F7F7F;
    --dark-letter: #000000;
    --max-width: 1200px;
}

/* ------------ GLOBALES ----------- */

body {
    font-family: "Space Grotesk", sans-serif;
}

h2, h3 {
    font-family: "Sora", sans-serif;
    font-size: 50px;
}

.global-info {
    margin: 2rem;
}


/* ---------------- LOGIN --------------- */

/* #root {
    background-color: rgba(255, 255, 255, 0.9); Color semi-transparente (aqua)
    position: fixed;
    top: 0;
    right: 0;
    width: 20rem;
    height: 13rem;
    display: "";
    padding: 2rem;
}

p {
    font-size: large;
}

img {
    width: 4rem;
} */

/* --------------------- HOTPOINTS --------------------- */

#punto1, #punto2, #punto3, #punto4, #punto5, #punto6, #punto7, #punto8, #punto9, #punto10, #punto11, #punto12, #punto13 {
    width: 2rem;
    height: 2rem;
    position: fixed;
    background-color: red; /* Cambiar color mas tarde */
    border-radius: 100%;
}

#inicio {
    display: flex;
    position: fixed;
    top: 2rem;
    left: 43%;
}

#logo-blanco {
    width: 17rem;
}

/* modales de los hotpoints del hover de los 4 primeros */

#modal {
    height: 100vh; /* Toma el 100% de la altura de la ventana*/
    width: 45%; /*Toma el 50% del ancho de la ventana*/
    position: fixed; /*Fija la posición del div*/
    top: 0; /*Coloca el div en la parte superior de la ventana*/
    right: 0; /*Coloca el div en el lado derecho de la ventana*/
    background-color: rgba(246, 249, 249, 0.85); /* Color semi-transparente (aqua) */
    border-radius: 3rem 0 0 3rem;
    box-shadow: inset 10px 0px 10px 0 rgba(20, 20, 20, 0.4);
}

#modales {
    position: fixed;
    background-color: rgba(0, 255, 255, 0.8);
    height: 5rem;
    width: 5rem;
}

#exitModal {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    border: solid 1px black;
    border-radius: 15%;
}

/* ------------ REALIDAD VIRTUAL ----------- */


/* ------------ REALIDAD AUMENTADA ----------- */


/* ------------ REALIDAD MIXTA ----------- */


/*------------------- ROAD MAP -------------------*/

/*------- contenedor principal y flechas --------*/


.roadmap-contenedor-principal {
    display: grid;
    height: 100%;
}

.roadmap-flechas {
    display: flex;
    justify-content: space-around;
}

#flecha-izquierda {
    position: absolute;
    border: none;
    font-size: 25px;
    width: 20px;
    color: rgb(7, 7, 7);
    cursor: pointer;
    z-index: 1;
    transition: .2s ease all;
}

#flecha-derecha {
    position: absolute;
    border: none;
    margin-left: 2.5rem;
    font-size: 25px;
    width: 20px;
    color: rgb(7, 7, 7);
    cursor: pointer;
    z-index: 1;
    transition: .2s ease all;
}

#flecha-izquierda:hover,
#flecha-derecha:hover {
    color: rgba(0, 0, 0, .9);
}

.botones-rayas {
    background-color: var(--lavander);
    width: 1rem;
    height: 0.5rem;
    margin-right: 1rem;
    border: 1rem;
    border-radius: 2rem;
}

.activo {
    background-color: var(--dark-orchid);
}

/* ------------- etiquetas ------------- */

.roadmap-contenedor-info {
    margin-right: 0 3rem;
}

.roadmap-info-titulo{
    font-size: 30px;
}

.roadmap-etiquetas {
    margin: 1rem 0;
}

.roadmap-etiqueta {
    display: flex;
    margin-left: 1rem;
}

.etiqueta-roadmap {
    background-color: var(--lavander);
    font-size: 18px;
    border-radius: 30%;
    gap: 2rem;
}

/*------------ roadmap-carrusel ---------- */

.global-info .roadmap-contenedor-carrusel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.global-info .roadmap-contenedor-carrusel .roadmap-carrusel {
    display: flex;
    flex-wrap: nowrap;
}

.global-info .roadmap-contenedor-carrusel .roadmap-carrusel .roadmap-img {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease all;
}

.global-info .roadmap-contenedor-carrusel .roadmap-img img {
    width: 60%;
    vertical-align: top;
    margin-top: 3rem; /* cambio provisional para que pueda manejar la funcionalidad */
}

/* ------------ HISTORIA ----------- */


/* ------------ EQUIPO ----------- */

.hi-slide {
    position: relative;
    width: 28rem;
    height: 28rem;
    margin: 7rem 2rem;
}

.hi-slide .hi-next,
.hi-slide .hi-prev {
    position: absolute;
    top: 50%;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    margin: 2rem;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #C21AD6;
    color: var(--white-letter);
    transition: all 0.7s;
    font-size: 20px;
    font-weight: bold;
}

.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover {
    opacity: 1;
    background-color: #727DEF;
}

.hi-slide .hi-next {
    left: 12rem;
}

.hi-slide .hi-next::before {
    content: '>';
}

.hi-slide .hi-prev {
    right: 13rem;
}

.hi-slide .hi-prev::before {
    content: '<';
}

.hi-slide > ul {
    position: relative;
    width: 47rem;
    height: 18rem;
    margin: 0;
    padding: 0;
}

.hi-slide > ul > li {
    overflow: hidden;
    position: absolute;
    z-index: 0;
    left: 21rem;
    top: 9rem;
    width: 0;
    height: 0;
    padding: 0;
    border: 3px solid var(--primary-color);
    background-color: #925BC0;
}

.hi-slide > ul > li > img {
    width: 100%;
}

/* ------------ REALIDAD EXTENDIDA ----------- */


/* ------------ INTELIGENCIA ARTIFICIAL ----------- */


/* ------------ BLOCKCHAIN ----------- */


/* -------------- MENU LATERAL ----------- */

#menu-lateral{
    position: fixed;
    top: 2rem;
    right: 2%;
    border: solid 0.5px var(--white-letter);
    border-radius: 15%;
}

#icono-menu-lateral {
    width: 2rem;
    padding: 0.3rem;
}

#desplegable {
    height: 100vh; /* Toma el 100% de la altura de la ventana*/
    width: 30%; /*Toma el 50% del ancho de la ventana*/
    position: fixed; /*Fija la posición del div*/
    top: 0; /*Coloca el div en la parte superior de la ventana*/
    right: 0; /*Coloca el div en el lado derecho de la ventana*/
    background-color: rgba(246, 249, 249, 0.6); /* Color semi-transparente (aqua) */
    border-radius: 3rem 0 0 3rem;
    box-shadow: inset 10px 0px 10px 0 rgba(20, 20, 20, 0.4);
}

.glass-effect {
    background: #fafafa10;
    backdrop-filter: blur(0.3rem);
}

#exit {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    border: solid 1px black;
    border-radius: 15%;
}

.contenido-menu-principal {
    margin: 0 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 5%;
}

.menu-principal {
    width: 90%;
    margin-top: 3rem;
    border-bottom: solid black 1px;
}

.menu-principal .menu-lateral-etiqueta {
    font-size: 0.8rem;
    font-weight: 900;
}

.menu-principal .menu-lateral-parrafo {
    font-size: 0.8rem;
    margin: 0.4rem 0;
}

.menu-principal .titulo-menu-lateral{
    font-size: 2rem;
    margin-top: 0.7rem;
    cursor: pointer;
}

#sobre:hover {
    color: var(--primary-color);
    transition: 0.5s;
}

#soluciones:hover {
    color: var(--second-color);
    transition: 0.5s;
}

#tecnologias:hover {
    color: var(--third-color);
    transition: 0.5s;
}

#experiencias:hover {
    color: var(--four-color);
    transition: 0.5s;
}

/* ------------- MENU HORIZONTAL INFERIOR -------------- */

#menu-horizontal {
    display: flex;
    background-color: rgba(182, 35, 241, 0.6);
    position: fixed;
    bottom: 2rem;
    left: 42%;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
}

a {
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    font-size: larger;
}

a:hover {
    color: deeppink;
}

/* ----------------- SOLUCIONES/USE CASE ----------------------- */

#useCase {
    position: fixed;
    background-color: rgba(0, 255, 255, 0.8);
    height: 5rem;
    width: 10rem;
    top: 15rem;
    left: 46%;
}

.useCase {
    position: fixed;
    background-color: rgba(245, 255, 255, 0.6);
    height: 20rem;
    width: 50rem;
    top: 12rem;
    left: 25%;
}

.useCase-comercio {
    position: fixed;
    background-color: rgba(154, 37, 249, 0.6);
    height: 5rem;
    width: 10rem;
    top: 15rem;
    left: 46%;
}

.useCase-turismo {
    position: fixed;
    background-color: rgba(252, 145, 23, 0.6);
    height: 5rem;
    width: 10rem;
    top: 15rem;
    left: 46%;
}

.useCase-entrenimiento {
    position: fixed;
    background-color: rgba(206, 0, 0, 0.6);
    height: 5rem;
    width: 10rem;
    top: 15rem;
    left: 46%;
}

.useCase-socializacion {
    position: fixed;
    background-color: rgba(249, 245, 37, 0.6);
    height: 5rem;
    width: 10rem;
    top: 15rem;
    left: 46%;
}

/* ------------------ BLOG ----------------- */

/* ---------------- CONTACTO --------------- */

/* --------------------- MEDIAS QUERYS --------------------- */

/* --------- 900px ----- */

/* -------- 400px ------- */
