@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root {
    --primary-color: #7B1AD8;
    --second-color: rgb(229 0 133);
    --third-color: #C21AD6;
    --four-color: #727DEF;
    --royal-blue: #373E65;
    --dark-blue: #24284D;
    --medium-purple: #725BC1;
    --dark-orchid: #925BC0;
    --lavander: #E2CCFF;
    --white-letter: #fff;
    --grey-letter: #7F7F7F;
    --dark-letter: #000000;
    --max-width: 1200px;
}

/* ------------ GLOBALES ----------- */

body {
    font-family: "Space Grotesk", sans-serif;
}

h2, h3 {
    font-family: "Sora", sans-serif;
    font-size: 50px;
}

.global-info {
    margin: 2rem;
}


/* ---------------- LOGIN --------------- */

/* #root {
    background-color: rgba(255, 255, 255, 0.9); Color semi-transparente (aqua)
    position: fixed;
    top: 0;
    right: 0;
    width: 20rem;
    height: 13rem;
    display: "";
    padding: 2rem;
}

p {
    font-size: large;
}

img {
    width: 4rem;
} */

/* --------------------- HOTPOINTS --------------------- */

#punto1, #punto2, #punto3, #punto4, #punto5, #punto6, #punto7, #punto8, #punto9, #punto10, #punto11, #punto12, #punto13 {
    width: 2rem;
    height: 2rem;
    position: fixed;
    background-color: red; /* Cambiar color mas tarde */
    border-radius: 100%;
    cursor: pointer;
}

#inicio {
    display: flex;
    position: fixed;
    top: 2rem;
    left: 43%;
}

#logo-blanco {
    width: 17rem;
}

/* modales de los hotpoints del hover de los 4 primeros */

#modal {
    height: 100vh; /* Toma el 100% de la altura de la ventana*/
    width: 45%; /*Toma el 50% del ancho de la ventana*/
    position: fixed; /*Fija la posición del div*/
    top: 0; /*Coloca el div en la parte superior de la ventana*/
    right: 0; /*Coloca el div en el lado derecho de la ventana*/
    background-color: rgba(246, 249, 249, 0.85); /* Color semi-transparente (aqua) */
    border-radius: 3rem 0 0 3rem;
    box-shadow: inset 10px 0px 10px 0 rgba(20, 20, 20, 0.4);
}

#modales {
    position: fixed;
    background-color: rgba(0, 255, 255, 0.8);
    height: 5rem;
    width: 5rem;
}

#exitModal {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    border: solid 1px black;
    border-radius: 15%;
}

/* ------------ REALIDAD VIRTUAL ----------- */

/*------- contenedor principal y flechas --------*/

.rvirtual-contenedor {
    height: 35rem;
}

/*------------ rvirtual-carrusel ---------- */

/* .global-info .roadmap-contenedor-carrusel .rvirtual-carrusel {
    display: flex;
    flex-wrap: nowrap;
    width: 40rem;
} */

.rvirtual-contenido {
    margin-bottom: 4rem;
}

.rvirtual-video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
}

#video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 40rem;
}

.rvirtual-video img {
    height: 15rem; /* modificarlo con el cambio de clases */
    width: 50rem; /* modificarlo con el cambio de clases */
    margin: 3rem; /* modificarlo con el cambio de clases */
}

.rvirtual-miniaturas {
    display: flex;
    flex-direction: row;
    height: 10rem;
    width: 20rem;
}

.rvirtual-miniaturas img {
    padding: 1rem; /* modificarlo con el cambio de clases */
    width: 1rem; /* modificarlo con el cambio de clases */
    height: 9rem; /* modificarlo con el cambio de clases */
}

/* ------------ REALIDAD AUMENTADA ----------- */

/*------- contenedor principal y flechas --------*/

.raumentada-contenedor{
    height: 35rem;
}

/*------------ raumentada-carrusel ---------- */

.raumentada-contenido {
    margin-bottom: 4rem;
}

.raumentada-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.raumentada-video img {
    height: 15rem; /* modificarlo con el cambio de clases */
    width: 50rem; /* modificarlo con el cambio de clases */
    margin: 3rem; /* modificarlo con el cambio de clases */
}

.raumentada-miniaturas {
    display: flex;
    flex-direction: row;
    height: 10rem;
    width: 20rem;
}

.raumentada-miniaturas img {
    padding: 1rem; /* modificarlo con el cambio de clases */
    width: 1rem; /* modificarlo con el cambio de clases */
    height: 9rem; /* modificarlo con el cambio de clases */
}

/* ------------ REALIDAD MIXTA ----------- */

/*------- contenedor principal y flechas --------*/

.rmixta-contenido {
    margin-bottom: 4rem;
}

.rmixta-contenedor{
    height: 35rem;
}

/*------------ rmixta-carrusel ---------- */

.rmixta-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rmixta-video img {
    height: 15rem; /* modificarlo con el cambio de clases */
    width: 50rem; /* modificarlo con el cambio de clases */
    margin: 3rem; /* modificarlo con el cambio de clases */
}

.rmixta-miniaturas {
    display: flex;
    flex-direction: row;
    height: 10rem;
    width: 20rem;
}

.rmixta-miniaturas img {
    padding: 1rem; /* modificarlo con el cambio de clases */
    width: 1rem; /* modificarlo con el cambio de clases */
    height: 9rem; /* modificarlo con el cambio de clases */
}

/*------------------- ROAD MAP -------------------*/

/*------- contenedor principal y flechas --------*/


.roadmap-contenedor-principal {
    display: grid;
    height: 100%;
}

.roadmap-flechas {
    display: flex;
    justify-content: space-around;
}

.flechas-izquierdas {
    position: absolute;
    border: none;
    font-size: 25px;
    margin-top: 0.4rem;
    /* width: 20px; */
    color: rgb(7, 7, 7);
    cursor: pointer;
    z-index: 1;
    transition: .2s ease all;
}

.flechas-derechas {
    position: absolute;
    border: none;
    margin-left: 2.5rem;
    margin-top: 0.4rem;
    font-size: 25px;
    /* width: 20px; */
    color: rgb(7, 7, 7);
    cursor: pointer;
    z-index: 1;
    transition: .2s ease all;
}

.flechas-izquierdas:hover,
.flechas-derechas:hover {
    color: rgba(0, 0, 0, .9);
}

.botones-rayas {
    background-color: var(--lavander);
    width: 1rem;
    height: 0.5rem;
    margin-right: 1rem;
    border: 1rem;
    border-radius: 2rem;
}

.activo {
    background-color: var(--dark-orchid);
}

/* ------------- etiquetas ------------- */

.roadmap-contenedor-info {
    margin-right: 0 3rem;
}

.roadmap-info-titulo {
    font-size: 25px;
}

.roadmap-descripcion p {
    font-size: 15px;
}

.roadmap-titulo {
    display: flex;
    margin-top: 2rem;
}

.roadmap-years {
    margin-left: 4rem;
}

.roadmap-years img {
    width: 5rem;
}

.roadmap-etiquetas {
    margin: 1rem 0;
}

.roadmap-etiqueta {
    display: flex;
    flex-direction: row;
}

.etiqueta-parrafo {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.etiqueta-encabezado {
    margin-left: 0rem;
}

.etiquetas-puntos {
    display: flex;
    flex-direction: row
}

.etiquetas-punto {
    margin-top: 0.3rem;
    height: 15px;
}

.etiquetas-puntos-parrafo {
    display: flex;
    flex-direction: row
}

.etiquetas-punto-parrafo {
    margin-top: 0.3rem;
    height: 0.5rem;
}

.etiqueta-apartado {
    display: flex;
    color: var(--primary-color);
    font-size: 14px;
    border-radius: 30%;
    gap: 2rem;
    margin: 0.2rem;
    cursor: pointer;
}

.etiqueta-apartado:hover {
    color: var(--third-color);
}

.etiqueta-eventos {
    display: flex;
    color: var(--second-color);
    font-size: 16px;
    font-weight: 500;
}

.etiqueta-roadmap {
    display: flex;
    /* background-color: var(--lavander); */
    font-size: 10px;
    border-radius: 30%;
    gap: 2rem;
    margin: 0.2rem;
}

.etiqueta-info {
    width: 12rem;
}

/*------------ roadmap-carrusel ---------- */

.global-info .roadmap-contenedor-carrusel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.global-info h2 {
    color: var(--primary-color);
}

.titulo-desplegable {
    font-size: 10px;
    font-weight: bold;
}

.global-info .roadmap-contenedor-carrusel .roadmap-carrusel {
    display: flex;
    flex-wrap: nowrap;
}

.global-info .roadmap-contenedor-carrusel .roadmap-carrusel .roadmap-img {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease all;
}

.global-info .roadmap-contenedor-carrusel .roadmap-img img {
    width: 60%;
    height: 12rem;
    vertical-align: top;
    margin-top: 1rem; /* cambio provisional para que pueda manejar la funcionalidad */
}


/* ------------ EQUIPO ----------- */

.swiper {
    width: 100%;
    padding: 0 0 3rem 0;
}

.swiper-slide {
    width: 28rem;
    height: 29rem;
    background-color: var(--lavander);
    padding: 2.5rem;
    margin-top: 2rem;
    text-align: center;
}

.product-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-img img {
    width: 28rem;
}

.icons {
    display: flex;
    justify-content: space-around;
    margin: 0 9rem;
    align-items: center;
    font-size: 30px;
}

#product-txt {
    margin: 1rem 0;
    font-size: 30px;
    text-align: center;
    color: var(--dark-letter);
    text-transform: uppercase;
}

/* ------------ REALIDAD EXTENDIDA ----------- */

.rextendida-contenedor {
    position: relative;
    margin: 3rem;
}

.rextendida-contenido {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.rextendida-contenido .rextendida-img {
    width: 35rem;
    margin-bottom: 1rem;
}

.rextendida-contenido .rextendida-img img {
    width: 100%;
}

/* ------------ INTELIGENCIA ARTIFICIAL ----------- */

.ia-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.ia-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ia-contenido img {
    width: 30rem;
    background-color: rgba(255, 255, 255, 0.27);
    /* background: #fafafa10; */
    backdrop-filter: blur(0.3rem);
}

/* ------------ BLOCKCHAIN ----------- */

.block-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
}

.block-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32rem;
    height: 90%;
    width: 100%;
    position: absolute;
}

.block-contenido .block-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
}

.block-contenido .block-logo img {
    width: 8rem;
}

.block-contenido .block-miniaturas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.block-contenido .block-miniaturas img {
    width: 5rem;
}

#miniatura-1 {
    top: 10%;
}

#miniatura-2 {
    top: 10rem;
    left: 6rem;
}

#miniatura-3 {
    top: 10rem;
    right: 6rem;
}

#miniatura-4 {
    bottom: 10%;
}

#miniatura-5 {
    bottom: 10rem;
    left: 6rem;
}

#miniatura-6 {
    bottom: 10rem;
    right: 6rem;
}

/* -------------- MENU LATERAL ----------- */

#menu-lateral{
    position: fixed;
    top: 2rem;
    right: 2%;
    border: solid 0.5px var(--white-letter);
    border-radius: 15%;
}

#icono-menu-lateral {
    width: 2rem;
    padding: 0 0.3rem;
    padding-top: 0.3rem;
}

#desplegable {
    height: 100vh; /* Toma el 100% de la altura de la ventana*/
    width: 30%; /*Toma el 50% del ancho de la ventana*/
    position: fixed; /*Fija la posición del div*/
    top: 0; /*Coloca el div en la parte superior de la ventana*/
    right: 0; /*Coloca el div en el lado derecho de la ventana*/
    background-color: rgba(246, 249, 249, 0.6); /* Color semi-transparente (aqua) */
    border-radius: 3rem 0 0 3rem;
    box-shadow: inset 10px 0px 10px 0 rgba(20, 20, 20, 0.4);
}

.glass-effect {
    background: #fafafa10;
    backdrop-filter: blur(0.3rem);
}

#exit {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    border: solid 1px black;
    border-radius: 15%;
}

.contenido-menu-principal {
    margin: 0 3rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 5%;
}

.menu-principal {
    width: 90%;
    margin-top: 3rem;
    border-bottom: solid black 1px;
}

.menu-principal .menu-lateral-etiqueta {
    font-size: 0.8rem;
    font-weight: 900;
}

.menu-principal .menu-lateral-parrafo {
    font-size: 0.8rem;
    margin: 0.4rem 0;
}

.menu-principal .titulo-menu-lateral{
    font-size: 2rem;
    margin-top: 0.7rem;
    cursor: pointer;
}

#sobre:hover {
    color: var(--primary-color);
    transition: 0.5s;
}

#soluciones:hover {
    color: var(--second-color);
    transition: 0.5s;
}

#tecnologias:hover {
    color: var(--third-color);
    transition: 0.5s;
}

#experiencias:hover {
    color: var(--four-color);
    transition: 0.5s;
}

/* ------------- MENU HORIZONTAL INFERIOR -------------- */

#menu-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    height: 1.6rem;
    /* background-color: rgba(182, 35, 241, 0.6); */
    background-color: rgba(255, 255, 255, 0.6);
    background: linear-gradient(to top right, rgba(255, 255, 255, 0.836), rgba(150,35,241,0.6));
    box-shadow: inset 3px 2px 0px 0 rgba(255, 255, 255, 0.4);
    position: fixed;
    bottom: 2rem;
    left: 40%;
    border-radius: 3rem;
    padding:0 2rem;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:75px;
    padding-right:75px;
}

#logo-redondo {
    height: 6rem; /* cambiar medidas  */
    border-radius: 2rem;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

a:hover {
    color: deeppink;
}

#blog {
    margin-right: 1.2rem;
}

/* ----------------- SOLUCIONES/USE CASE ----------------------- */

#useCase {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 10rem;
    width: 24rem;
    top: 15rem;
    left: 40%;
}

.useCase-titulo {
    background-color: var(--lavander);
    color: var(--four-color);
    border-radius: 4rem;
    padding: 0 1rem;
    cursor: pointer;
}

.useCase-titulo:hover {
    background-color: var(--four-color);
    color: var(--lavander);
}

.useCase {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background-color: rgba(245, 255, 255, 0.6); */
    height: 20rem;
    width: 50rem;
    top: 12rem;
    left: 25%;
}

/* Ocultar la barra de desplazamiento para navegadores webkit */
.useCase::-webkit-scrollbar {
    display: none;
}

/* Ocultar la barra de desplazamiento para Firefox */
.useCase {
    scrollbar-width: none; /* Firefox */
}

/* Para otros navegadores */
.useCase {
    -ms-overflow-style: none; /* IE and Edge */
}

.caso-de-uso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.useCase-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* margin-right: 8rem; */
    height: 20rem;
}

.etiqueta-useCase {
    background-color: var(--four-color);
    color: var(--lavander);
    border-radius: 4rem;
    margin: 2rem 0;
    padding: 0 1rem;
    font-size: 20px;
}

.etiqueta-caso {
    background-color: var(--lavander);
    color: var(--four-color);
    border-radius: 4rem;
    padding: 0 1rem;
    font-size: 30px;
    font-weight: 700;
}

.practico {
    color: var(--white-letter);
    font-size: 13px;
}

.useCase-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8rem;
    padding-right: 1rem;
}

.useCase-img img {
   width: 22rem;
}

.useCase-comercio .useCase-turismo .useCase-entrenimiento{
    margin-bottom: 2rem;
}

.useCase-socializacion {
    margin-top: 2rem;
}

/* ------------------ BLOG ----------------- */

/* ---------------- CONTACTO --------------- */

/* --------------------- MEDIAS QUERYS --------------------- */

/* --------- 900px ----- */

/* -------- 400px ------- */
