
body {
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    overflow: hidden;
    margin: 0;
}

/* todo lo que tiene que ver con el login */

#root {
    background-color: rgba(255, 255, 255, 0.9); /* Color semi-transparente (aqua) */
    position: fixed;
    top: 0;
    right: 0;
    width: 20rem;
    height: 13rem;
    display: "";
    padding: 2rem;
}

p {
    font-size: large;
}

img {
    width: 4rem;
}


/* menus */

#menu-horizontal {
    display: flex;
    background-color: rgba(182, 35, 241, 0.6); /* Color semi-transparente (aqua) */
    position: fixed;
    bottom: 2rem;
    left: 42%;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
}

a {
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    font-size: larger;
}

a:hover {
    color: deeppink;
}

#menu-lateral{
    position: fixed;
    top: 2rem;
    right: 2%;
    border: solid 1px white;
    border-radius: 15%;
}

#menu {
    width: 1.5rem;
    padding: 0.3rem;
}

#desplegable {
    height: 100vh; /* Toma el 100% de la altura de la ventana*/
    width: 35%; /*Toma el 50% del ancho de la ventana*/
    position: fixed; /*Fija la posición del div*/
    top: 0; /*Coloca el div en la parte superior de la ventana*/
    right: 0; /*Coloca el div en el lado derecho de la ventana*/
    background-color: rgba(246, 249, 249, 0.8); /* Color semi-transparente (aqua) */
    border-radius: 3rem;
}

#exit {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    border: solid 1px black;
    border-radius: 15%;
}

#exitModal {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    border: solid 1px black;
    border-radius: 15%;
}

.menu-principal {
    border-bottom: solid black 1px;
}

.contenido-menuprincipal {
    margin: 2rem;
}

/* ------------ Globales ----------- */

h2 {
    font-size: 50px;
    margin-left: 1rem;
}

/* hotpoints */

#punto1, #punto2, #punto3, #punto4, #punto5, #punto6, #punto7, #punto8, #punto9, #punto10, #punto11, #punto12, #punto13 {
    width: 2rem;
    height: 2rem;
    position: fixed;
    background-color: red; /* Cambiar color mas tarde */
    border-radius: 100%;
}

#inicio {
    display: flex;
    position: fixed;
    top: 2rem;
    left: 43%;
}

#logo {
    width: 10rem;
}


/* uso de casos  */

#useCase {
    position: fixed;
    background-color: rgba(0, 255, 255, 0.8);
    height: 5rem;
    width: 10rem;
    top: 15rem;
    left: 46%;
}

.useCase {
    position: fixed;
    background-color: rgba(245, 255, 255, 0.6);
    height: 20rem;
    width: 50rem;
    top: 12rem;
    left: 25%;
}

.useCase-comercio {
    position: fixed;
    background-color: rgba(154, 37, 249, 0.6);
    height: 5rem;
    width: 10rem;
    top: 15rem;
    left: 46%;
}

.useCase-turismo {
    position: fixed;
    background-color: rgba(252, 145, 23, 0.6);
    height: 5rem;
    width: 10rem;
    top: 15rem;
    left: 46%;
}

.useCase-entrenimiento {
    position: fixed;
    background-color: rgba(206, 0, 0, 0.6);
    height: 5rem;
    width: 10rem;
    top: 15rem;
    left: 46%;
}

.useCase-socializacion {
    position: fixed;
    background-color: rgba(249, 245, 37, 0.6);
    height: 5rem;
    width: 10rem;
    top: 15rem;
    left: 46%;
}

/*------------------- Road Map -------------------*/

/*------- contenedor principal y flechas --------*/
.peliculas-recomendadas {
    margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, .3);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: aliceblue;
    cursor: pointer;
    z-index: 1;
    transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
    background: rgba(0, 0, 0, .9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
    left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
    right: 0;
}

/*------------ carrusel ---------- */
.contenedor-principal {
    display: grid;
    height: 100%;
}
.peliculas-recomendadas .contenedor-carrusel {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carrusel .carrusel {
    display: flex;
    flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula {
    min-width: 100%;
    transition: .3s ease all;
}

.peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula.hover {
    transform: scale(1.2);
    transform-origin: center;
}

.peliculas-recomendadas .contenedor-carrusel .carrusel .pelicula img {
    width: 90%;
    vertical-align: top;
    margin-top: 5rem;
}

/* .roadmap-flechas {

} */

/* modales de los hotpoints del hover de los 4 primeros */

#modales {
    position: fixed;
    background-color: rgba(0, 255, 255, 0.8);
    height: 5rem;
    width: 5rem;
}

/* modales de los hotpoints con informacion cambiante*/

#modal {
    height: 100vh; /* Toma el 100% de la altura de la ventana*/
    width: 40%; /*Toma el 50% del ancho de la ventana*/
    position: fixed; /*Fija la posición del div*/
    top: 0; /*Coloca el div en la parte superior de la ventana*/
    right: 0; /*Coloca el div en el lado derecho de la ventana*/
    background-color: rgba(255, 255, 255, 0.845); /* Color semi-transparente (aqua) */
    border-radius: 2rem;
} 