
body {
    /* display: grid;
    grid-template-columns: repeat(1, 1fr); */
    overflow: hidden;
    margin: 0;
}

/* todo lo que tiene que ver con el login */

#root {
    background-color: rgba(255, 255, 255, 0.9); /* Color semi-transparente (aqua) */
    position: fixed;
    top: 0;
    right: 0;
    width: 20rem;
    height: 13rem;
    display: "";
    padding: 2rem;
}

p {
    font-size: large;
}

img {
    width: 4rem;
}


/* menus */

#menu-horizontal {
    display: flex;
    background-color: rgba(182, 35, 241, 0.6); /* Color semi-transparente (aqua) */
    position: fixed;
    bottom: 2rem;
    left: 42%;
    border-radius: 3rem;
    justify-content: center;
    align-items: center;
    padding-right: 2rem;
}

a {
    margin-left: 2rem;
    text-decoration: none;
    color: white;
    font-size: larger;
}

a:hover {
    color: deeppink;
}

#menu-lateral{
    position: fixed;
    top: 2rem;
    right: 2%;
    border: solid 1px white;
    border-radius: 15%;
}

#menu {
    width: 1.5rem;
    padding: 0.3rem;
}

#desplegable {
    height: 100vh; /* Toma el 100% de la altura de la ventana*/
    width: 35%; /*Toma el 50% del ancho de la ventana*/
    position: fixed; /*Fija la posición del div*/
    top: 0; /*Coloca el div en la parte superior de la ventana*/
    right: 0; /*Coloca el div en el lado derecho de la ventana*/
    background-color: rgba(0, 255, 255, 0.8); /* Color semi-transparente (aqua) */
    border-radius: 3rem;
}

#exit {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    border: solid 1px black;
    border-radius: 15%;
}

#exitModal {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    border: solid 1px black;
    border-radius: 15%;
}

.menu-principal {
    border-bottom: solid black 1px;
}

.contenido-menuprincipal {
    margin: 2rem;
}


/* hotpoints */

#punto1, #punto2, #punto3, #punto4, #punto5, #punto6, #punto7, #punto8, #punto9, #punto10, #punto11, #punto12, #punto13 {
    width: 2rem;
    height: 2rem;
    position: fixed;
    background-color: red; /* Cambiar color mas tarde */
    border-radius: 100%;
}

#inicio {
    display: flex;
    position: fixed;
    top: 2rem;
    left: 43%;
}

#logo {
    width: 10rem;
}

#useCase {
    position: fixed;
    background-color: rgba(0, 255, 255, 0.8);
    height: 5rem;
    width: 10rem;
    top: 15rem;
    left: 46%;
}

/* modales de los hotpoints del hover de los 4 primeros */

#modales {
    position: fixed;
    background-color: rgba(0, 255, 255, 0.8);
    height: 5rem;
    width: 5rem;
}

/* modales de los hotpoints con informacion cambiante*/

#modal {
    height: 100vh; /* Toma el 100% de la altura de la ventana*/
    width: 40%; /*Toma el 50% del ancho de la ventana*/
    position: fixed; /*Fija la posición del div*/
    top: 0; /*Coloca el div en la parte superior de la ventana*/
    right: 0; /*Coloca el div en el lado derecho de la ventana*/
    background-color: rgba(0, 255, 255, 0.8); /* Color semi-transparente (aqua) */
    border-radius: 2rem;
} 